<div class="animated fadeIn" ng-controller="jobscontrol">
  <div class="card-group mb-4 well-lg">
    <div class="card border-primary">
      <div class="card-body">
        <div class="h1 text-muted text-right mb-4">
          <i class="icon-people"></i>
        </div>
        <div class="h4 mb-0">Project ID</div>
        <small class="text-muted text-uppercase font-weight-bold ">{{currentProject.id}}</small>
      </div>
    </div>
    <div class="card border-primary">
      <div class="card-body">
        <div class="h1 text-muted text-right mb-4">
          <i class="icon-user-follow"></i>
        </div>
        <div class="h4 mb-0">{{currentProject.applicants}}</div>
        <small class="text-muted text-uppercase font-weight-bold">New Applicants</small>
        <div class="progress progress-xs mt-3 mb-0">
          <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>

    <div class="card border-primary">
      <div class="card-body">
        <div class="h1 text-muted text-right mb-4">
          <i class="icon-pie-chart"></i>
        </div>
        <div class="h4 mb-0">{{currentProject.position}}</div>
        <small class="text-muted text-uppercase font-weight-bold">Open Positions</small>
        <div class="progress progress-xs mt-3 mb-0">
          <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>

  </div>
  <div class="col-md-7 col-lg-7 col-sm-7">
    <table class="table table-hover table-outline mb-0 hidden-sm-down">
      <thead class="thead-light">
        <tr>
          <th class="text-center">
            <i class="icon-people"></i>
          </th>
          <th class="text-center">Id</th>
          <th class="text-center">Name</th>
          <th class="text-center">Age</th>
          <th class="text-center">Experience</th>
          <th class="text-center">Nationality</th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center">
            <div class="checkbox">
              <label>
                <input type="checkbox" value="">
              </label>
            </div>
          </td>
          <td class="text-center">120322322</td>
          <td class="text-center">ABCD</td>
          <td class="text-center">50</td>
          <td class="text-center">35</td>
          <td class="text-center">Indian</td>

        </tr>
        <tr>
          <td class="text-center">
            <div class="checkbox">
              <label>
                <input type="checkbox" value="">
              </label>
            </div>
          </td>
          <td class="text-center">120322311</td>
          <td class="text-center">CBDA</td>
          <td class="text-center">26</td>
          <td class="text-center">12</td>
          <td class="text-center">Canada</td>

        </tr>
        <tr>
          <td class="text-center">
            <div class="checkbox">
              <label>
                <input type="checkbox" value="">
              </label>
            </div>
          </td>
          <td class="text-center">120322456</td>
          <td class="text-center">ASDF</td>
          <td class="text-center">35</td>
          <td class="text-center">21</td>
          <td class="text-center">America</td>

        </tr>
        <tr>
          <td class="text-center">
            <div class="checkbox">
              <label>
                <input type="checkbox" value="">
              </label>
            </div>
          </td>
          <td class="text-center">781929182</td>
          <td class="text-center">KJAUG</td>
          <td class="text-center">45</td>
          <td class="text-center">31</td>
          <td class="text-center">Japan</td>

        </tr>
        <tr>
          <td class="text-center">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="checkboxModel.value2" ng-true-value="'YES'" ng-false-value="'NO'">
              </label>
            </div>
          </td>
          <td class="text-center">567483902</td>
          <td class="text-center">JHGFT</td>
          <td class="text-center">48</td>
          <td class="text-center">28</td>
          <td class="text-center">Indian</td>

        </tr>
        <tr>
          <td class="text-center">
            <div class="checkbox">
              <label>
                <input type="checkbox" value="">
              </label>
            </div>
          </td>
          <td class="text-center">465738291</td>
          <td class="text-center">TRGDH</td>
          <td class="text-center">35</td>
          <td class="text-center">22</td>
          <td class="text-center">Canada</td>

        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-sm-5 col-md-5 col-lg-5">
    <div class="card-header">
      <span style="font-weight:bold">Daily Wage - Mode</span>
      <canvas class="chart chart-line" chart-data="data" chart-labels="labels" chart-options="options" chart-colors="colors"></canvas>
    </div>
    <div class="well-sm">
      <span style="display:inline-block" class="font-weight-bold"> Provide a price </span>
      <input type="text" ng-model="price" class="form-control" style="width:100px;display:inline-block"/> /
      <select style="width:100px;display:inline-block" class="form-control">
        <option value=''>day</option>
        <option value=''>month</option>
        <option value=''>year</option>
      </select>
    </div>
    <div clas="card card-primary">
      <button class="btn btn-danger pull-right">Submit</button>
    </div>
  </div>
</div>
<div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 well-sm ">
  <div class="text-center">
    <button class="btn btn-primary">Request Access</button>
  </div>
</div>