<div class="wallet">
    <div class="walletIcon">

        <div class="card">
            <div class="card-body p-3 clearfix">
                <i class=" bg-primary p-3 font-2xl mr-3 float-left">
                    <img src="img/money.svg" alt="loader.gif" style="min-width: 48px;min-height: 22px;" />
                </i>

                <div clas="well-sm">
                  <div class="text-muted text-uppercase font-weight-bold" style="font-size:14px;font-weight:bold">Reward</div>
                    <div class="text-danger" style="font-size:16px;font-weight:bold">10</div>
                    <div class="text-muted text-uppercase font-weight-bold" style="font-size:14px;font-weight:bold">Points</div>
                </div>
            </div>


        </div>
    </div>
</div>
<div class="container" style="margin-top: 20px;" ng-controller="addjobCtrl">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="card ">
                        <h4 class="card-header text-center">Personal Details</h4>
                        <div class="card-body">
                            <div class="card-text col-md-4">
                                <p>
                                    <label class="form-group">Name:
                                        <span style="font-weight:300;">Mr.Manimaran</span>
                                    </label>
                                </p>
                                <p>
                                    <label class="form-group">Surname:
                                        <span style="font-weight:300;">Maran</span>
                                    </label>
                                </p>
                                <p>
                                    <label class="form-group">Age/Gender:
                                        <span style="font-weight:300;">31/M</span>
                                    </label>
                                </p>
                            </div>
                            <div class="card-text col-md-4">
                                <p>
                                    <label class="form-group">Passport #:
                                        <span style="font-weight:300;">123456789</span>
                                    </label>
                                </p>
                                <p>
                                    <label class="form-group">Aadhaar Id:
                                        <span style="font-weight:300;">0123456987</span>
                                    </label>
                                </p>
                                <p>
                                    <label class="form-group">Address:
                                        <span style="font-weight:300;">No,16 Kovilambakkam</span>
                                    </label>
                                </p>
                            </div>
                            <div class="card-text col-md-4">
                                <p>
                                    <label class="form-group">Pan #:
                                        <span style="font-weight:300;">012Bbfds90</span>
                                    </label>
                                </p>
                                <p>
                                    <label class="form-group">Country:
                                        <span style="font-weight:300;">India</span>
                                    </label>
                                </p>
                                <p>
                                    <label class="form-group">Pincode:
                                        <span style="font-weight:300;">600002</span>
                                    </label>
                                </p>
                                <p>
                                    <label class="form-group">Skill:
                                        <span style="font-weight:300;">Technician</span>
                                    </label>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card ">
                        <h4 class="card-header text-center">List of Openings</h4>
                        <div class="container-fluid">
                            <div class="row" style="margin-top: 15px;">
                                <div class="col-md-6" style="margin-top: 15px;">
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="#">
                                                <img class="media-object" src="../../../img/logo1.jpg" alt="..." style="width: 90px;border-radius: 50%;">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading">Road Construction</h4>
                                            <span>
                                                <label class="form-group">Opening:
                                                    <span style="font-weight:300;">300</span>
                                                </label>
                                            </span>
                                            <span>
                                                <label class="form-group">Pay:
                                                    <span style="font-weight:300;">150 Per/day</span>
                                                </label>
                                            </span>
                                            <p>The job duties of a general laborer vary</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" style="margin-top: 15px;">
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="#">
                                                <img class="media-object" src="../../../img/logo2.jpg" alt="..." style="width: 90px;border-radius: 50%;"> </a>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading">Transfer loads</h4>
                                            <span>
                                                <label class="form-group">Opening:
                                                    <span style="font-weight:300;">80</span>
                                                </label>
                                            </span>
                                            <span>
                                                <label class="form-group">Pay:
                                                    <span style="font-weight:300;">250 Per/day</span>
                                                </label>
                                            </span>
                                            <p>The job duties of a general laborer vary</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" style="margin-top: 15px;">
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="#">
                                                <img class="media-object" src="../../../img/logo7.jpg" alt="..." style="width: 90px;border-radius: 50%;"> </a>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading">Sweeping</h4>
                                            <span>
                                                <label class="form-group">Opening:
                                                    <span style="font-weight:300;">30</span>
                                                </label>
                                            </span>
                                            <span>
                                                <label class="form-group">Pay:
                                                    <span style="font-weight:300;">190 Per/day</span>
                                                </label>
                                            </span>
                                            <p>The job duties of a general laborer vary</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 " style="margin-top: 15px;">
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="#">
                                                <img class="media-object" src="../../../img/logo4.jpg" alt="..." style="width: 90px;border-radius: 50%;"> </a>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading">Bridge Construction</h4>
                                            <span>
                                                <label class="form-group">Opening:
                                                    <span style="font-weight:300;">250</span>
                                                </label>
                                            </span>
                                            <span>
                                                <label class="form-group">Pay:
                                                    <span style="font-weight:300;">190 Per/day</span>
                                                </label>
                                            </span>
                                            <p>The job duties of a general laborer vary</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" style="margin-top: 15px;">
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="#">
                                                <img class="media-object" src="../../../img/logo5.jpg" alt="..." style="width: 90px;border-radius: 50%;"> </a>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading">House Keeping</h4>
                                            <span>
                                                <label class="form-group">Opening:
                                                    <span style="font-weight:300;">10</span>
                                                </label>
                                            </span>
                                            <span>
                                                <label class="form-group">Pay:
                                                    <span style="font-weight:300;">185 Per/day</span>
                                                </label>
                                            </span>
                                            <p>The job duties of a general laborer vary</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" style="margin-top: 15px;">
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="#">
                                                <img class="media-object" src="../../../img/logo6.jpg" alt="..." style="width: 90px;border-radius: 50%;">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading">Cleaning</h4>
                                            <span>
                                                <label class="form-group">Opening:
                                                    <span style="font-weight:300;">50</span>
                                                </label>
                                            </span>
                                            <span>
                                                <label class="form-group">Pay:
                                                    <span style="font-weight:300;">170 Per/day</span>
                                                </label>
                                            </span>
                                            <p>The job duties of a general laborer vary</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>