<div class="wallet">
        <div class="walletIcon">
    
          <div class="card">
            <div class="card-body p-3 clearfix">
              <i class=" bg-primary p-3 font-2xl mr-3 float-left">
                <img src="img/money.svg" alt="loader.gif" style="min-width: 48px;min-height: 22px;" />
              </i>
    
              <div clas="well-sm">
                <div class="text-muted text-uppercase font-weight-bold" style="font-size:14px;font-weight:bold">Reward</div>
                <div class="text-danger" style="font-size:16px;font-weight:bold">10</div>
                <div class="text-muted text-uppercase font-weight-bold" style="font-size:14px;font-weight:bold">Points</div>
</div>
            </div>
    
    
          </div>
        </div>
        </div>
<div class="container" style="margin-top: 20px;" ng-controller="employeehomeCtrl">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="card ">
                        <h4 class="card-header text-center">Personal Details</h4>
                        <div class="card-body">
                            <div class="card-text col-md-4">
                                <p><label class="form-group">Name: <span style="font-weight:300;">Mr.Manimaran</span></label></p>
                                <p><label class="form-group">Surname: <span style="font-weight:300;">Maran</span></label></p>
                                <p> <label class="form-group">Age/Gender: <span style="font-weight:300;">31/M</span></label></p>
                            </div>
                            <div class="card-text col-md-4">
                                <p>  <label class="form-group">Passport #: <span style="font-weight:300;">123456789</span></label></p>
                                <p>  <label class="form-group">Aadhaar Id: <span style="font-weight:300;">0123456987</span></label></p>
                                <p>  <label class="form-group">Address: <span style="font-weight:300;">No,16 Kovilambakkam</span></label></p>
                            </div>
                            <div class="card-text col-md-4">
                                <p>  <label class="form-group">Pan #: <span style="font-weight:300;">012Bbfds90</span></label></p>
                                <p>  <label class="form-group">Country: <span style="font-weight:300;">India</span></label></p>
                                <p>  <label class="form-group">Pincode: <span style="font-weight:300;">600002</span></label></p>
                                <p>  <label class="form-group">Skill: <span style="font-weight:300;">Labour</span></label></p>
                            </div>
                        </div>
                    </div>

                    <div class="card ">
                        <h4 class="card-header text-center">Project/Career Details</h4>
                        <div class="card-body">
                            <div class="card-text col-md-6">
                                <p><label class="form-group">Project Name: <span style="font-weight:300;" >Road Construction</span></label></p>
                                <p><label class="form-group">Employer Name: <span style="font-weight:300;">XYZ Construction</span></label></p>
                                <p> <label class="form-group">Start date: <span style="font-weight:300;">01/12/2017</span></label></p>
                            </div>
                            <div class="card-text col-md-6">
                                <p>  <label class="form-group">Position: <span style="font-weight:300;">Labour</span></label></p>
                                <p>  <label class="form-group">Tenure: <span style="font-weight:300;">5 Months</span></label></p>
                                <p>  <label class="form-group">End date <span style="font-weight:300;">01/04/2018</span></label></p>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="card-text pull-right">
                                <!--<button class="btn btn-primary" ng-click="add_proj()">+ Add Project</button>-->
                                <button class="btn btn-primary" ng-click="det_proj()">view Project</button>
                            </div>
                        </div>
                    </div>
                    <div class="card ">
                        <h4 class="card-header text-center">Feedback</h4>
                        <div class="card-body">
                            <div class="card-text col-md-12">
                                <p><label class="form-group">How much do these images reflect fom facilities ?</label> &nbsp;&nbsp;&nbsp; Not at All &nbsp; <input type="radio" name="optradio"> 1 &nbsp; <input type="radio" name="optradio"> 2 &nbsp; <input type="radio" name="optradio"> 3 &nbsp; <input type="radio" name="optradio"> 4 &nbsp; <input type="radio" name="optradio">  5 &nbsp; Very Much &nbsp;</p>
                                <div class="col-md-3">
                                    <img src="../../../img/images (1).jpg" alt="" style="width: 200px;height: 110px;"/>
                                </div>
                                <div class="col-md-3">
                                    <img src="../../../img/images (3).jpg" style="width: 200px;height: 110px;" alt=""/>
                                </div>
                                <div class="col-md-3">
                                    <img src="../../../img/images (4).jpg" style="width: 200px;height: 110px;" alt=""/>
                                </div>
                                <div class="col-md-3">
                                    <img src="../../../img/images (2).jpg" style="width: 200px;height: 110px;" alt=""/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card ">
                        <h4 class="card-header text-center">Rewards</h4>
                        <div class="card-body">
                            <div class="card-text col-md-12">
                                <p><label class="form-group">You have earned 100 points redeem it now?</label></p>
                                <div class="col-md-4">
                                    <img src="../../../img/twilio.png" alt="" style="width: 200px;height: 110px;"/>
                                </div>
                                <div class="col-md-4">
                                    <img src="../../../img/global.png" style="width: 200px;height: 110px;" alt=""/>
                                </div>
                                <div class="col-md-4">
                                    <img src="../../../img/icici.jpg" style="width: 200px;height: 110px;" alt=""/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>