<div class="wallet">
    <div class="walletIcon">

        <div class="card">
            <div class="card-body p-3 clearfix">
                <i class=" bg-primary p-3 font-2xl mr-3 float-left">
                    <img src="img/money.svg" alt="loader.gif" style="min-width: 48px;min-height: 22px;" />
                </i>

                <div clas="well-sm">
                  <div class="text-muted text-uppercase font-weight-bold" style="font-size:14px;font-weight:bold">Reward</div>
                  <div class="text-danger" style="font-size:16px;font-weight:bold">10</div>
                  <div class="text-muted text-uppercase font-weight-bold" style="font-size:14px;font-weight:bold">Points</div>
</div>
            </div>


        </div>
    </div>
</div>
<div class="container" style="margin-top: 20px;" ng-controller="projectdetailCtrl">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="card ">
                        <h4 class="card-header text-center">Company Details</h4>
                        <div class="card-body">
                            <div class="col-md-8" style="margin-top: 15px;">
                                <div class="media">
                                    <div class="media-left">
                                        <a href="#">
                                            <img class="media-object" src="../../../img/logo6.jpg" alt="..." style="width: 90px;
                                                 border-radius: 50%;">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">XYZ Construction Company</h4>
                                        <span>
                                            <label class="form-group">Tenure :
                                                <span style="font-weight:300;">5 Months</span>
                                            </label>
                                        </span>
                                        <br>
                                        <span>
                                            <label class="form-group">Start Date:
                                                <span style="font-weight:300;">01/12/2017</span>
                                            </label>
                                        </span>
                                        <span>
                                            <label class="form-group">End Date:
                                                <span style="font-weight:300;">01/04/2018</span>
                                            </label>
                                        </span>
                                        <button class="btn btn-success pull-right">
                                            <i class="fa fa-address-book"></i> Renew Availability</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="card ">
                        <h4 class="card-header text-center">Attendance Informations</h4>
                        <div class="card-body">
                            <div class="card-text col-md-6">
                                <p>
                                    <label class="form-group">Expected AH:
                                        <span style="font-weight:300;">10 Days</span>
                                    </label>
                                </p>
                                <div class="form-group">
                                    <!--<label for="gender"><span class="mandatory">*</span></label>-->
                                    <select class="form-control" id="gender">
                                        <option>This Week</option>
                                        <option>Last Week</option>
                                    </select>
                                </div>
                            </div>
                            <div class="card-text col-md-6">
                                <p>
                                    <label class="form-group">Actual:
                                        <span style="font-weight:300;">5 Days</span>
                                    </label>
                                </p>
                                <div class="card-text col-md-3">
                                    <p>
                                        <label class="form-group">Start Date
                                            <span style="font-weight:300;">11/12/2017</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="card-text col-md-3">
                                    <p>
                                        <label class="form-group">End Date
                                            <span style="font-weight:300;">17/12/2017</span>
                                        </label>
                                    </p>
                                </div>
                            </div>
                            <div class="card-text col-md-12">
                                <div class="col-md-2">Monday &nbsp;
                                    <label class="switch switch-text switch-pill switch-primary">
                                        <input type="checkbox" class="switch-input" checked>
                                        <span class="switch-label" data-on="On" data-off="Off"></span>
                                        <span class="switch-handle"></span>
                                    </label>
                                    <label>Regularize</label> &nbsp;
                                    <input type="checkbox" checked="">
                                </div>
                                <div class="col-md-2">Tuesday &nbsp;
                                    <label class="switch switch-text switch-pill switch-primary">
                                        <input type="checkbox" class="switch-input" checked>
                                        <span class="switch-label" data-on="P" data-off="Off"></span>
                                        <span class="switch-handle"></span>
                                    </label>
                                    <p>&nbsp;
                                        <input type="checkbox" checked="">
                                    </p>
                                </div>
                                <div class="col-md-2">Wednesday &nbsp;
                                    <label class="switch switch-text switch-pill switch-primary">
                                        <input type="checkbox" class="switch-input" checked>
                                        <span class="switch-label" data-on="P" data-off="Off"></span>
                                        <span class="switch-handle"></span>
                                    </label>
                                    <p>&nbsp;
                                        <input type="checkbox" checked="">
                                    </p>
                                </div>
                                <div class="col-md-2">Thursday &nbsp;
                                    <label class="switch switch-text switch-pill switch-danger">
                                        <input type="checkbox" class="switch-input" checked>
                                        <span class="switch-label" data-on="AB" data-off="Off"></span>
                                        <span class="switch-handle"></span>
                                    </label>
                                    <p>&nbsp;
                                        <input type="checkbox">
                                    </p>
                                </div>
                                <div class="col-md-2">Friday &nbsp;
                                    <label class="switch switch-text switch-pill switch-primary">
                                        <input type="checkbox" class="switch-input" checked>
                                        <span class="switch-label" data-on="P" data-off="Off"></span>
                                        <span class="switch-handle"></span>
                                    </label>
                                    <p>&nbsp;
                                        <input type="checkbox" checked="">
                                    </p>
                                </div>
                                <div class="col-md-2">Saturday &nbsp;
                                    <label class="switch switch-text switch-pill switch-primary">
                                        <input type="checkbox" class="switch-input" checked>
                                        <span class="switch-label" data-on="P" data-off="Off"></span>
                                        <span class="switch-handle"></span>
                                    </label>
                                    <p>&nbsp;
                                        <input type="checkbox" checked="">
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="card-text pull-right">
                                <button class="btn btn-success">
                                    <i class="fa fa-check"></i> Accept </button>
                                <button class="btn btn-warning" data-toggle="modal" data-target="#myModal">
                                    <i class="fa fa-calendar-o"></i> Regularize </button>
                            </div>
                        </div>
                    </div>
                    <div class="card ">
                        <h4 class="card-header text-center">Feedback</h4>
                        <div class="card-body">
                            <div class="card-text col-md-12">
                                <p>
                                    <label class="form-group">1.How are the facilities from XYZ Construction Company ?</label> &nbsp;&nbsp;&nbsp; Poor
                                    &nbsp;
                                    <input type="radio" name="optradio"> 1 &nbsp;
                                    <input type="radio" name="optradio"> 2 &nbsp;
                                    <input type="radio" name="optradio"> 3 &nbsp;
                                    <input type="radio" name="optradio"> 4 &nbsp;
                                    <input type="radio" name="optradio"> 5 &nbsp; Excellent &nbsp;</p>
                                <p>
                                    <label class="form-group">2.Any Grievance about XYZ Construction Company ?</label> &nbsp;&nbsp;&nbsp;
                                    <input type="text"
                                        name="optradio">
                                </p>
                                <button class="btn btn-success pull-right" ng-click="save_feedback()">
                                    <i class="fa fa-foursquare"></i> Save</button>
                            </div>
                        </div>
                    </div>
                    <div class="card ">
                        <h4 class="card-header text-center">Other Projects (Post Tenure Expire)</h4>
                        <div class="container-fluid">
                            <div class="row" style="margin-top: 15px;">
                                <div class="col-md-6" style="margin-top: 15px;">
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="#">
                                                <img class="media-object" src="../../../img/logo1.jpg" alt="..." style="width: 90px;border-radius: 50%;">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading">Road Construction</h4>
                                            <span>
                                                <label class="form-group">Opening:
                                                    <span style="font-weight:300;">300</span>
                                                </label>
                                            </span>
                                            <span>
                                                <label class="form-group">Pay:
                                                    <span style="font-weight:300;">150 Per/day</span>
                                                </label>
                                            </span>
                                            <p>The job duties of a general laborer vary</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" style="margin-top: 15px;">
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="#">
                                                <img class="media-object" src="../../../img/logo2.jpg" alt="..." style="width: 90px;border-radius: 50%;"> </a>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading">Transfer loads</h4>
                                            <span>
                                                <label class="form-group">Opening:
                                                    <span style="font-weight:300;">80</span>
                                                </label>
                                            </span>
                                            <span>
                                                <label class="form-group">Pay:
                                                    <span style="font-weight:300;">250 Per/day</span>
                                                </label>
                                            </span>
                                            <p>The job duties of a general laborer vary</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog" style="margin-top:50px;">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"> Regularize </h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="comment">Enter the Notes:</label>
                    <textarea class="form-control" rows="5" id="comment"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-sm btn-primary" data-dismiss="modal">
                    <i class="fa fa-dot-circle-o"></i> Submit</button>
                <button type="reset" class="btn btn-sm btn-danger" data-dismiss="modal">
                    <i class="fa fa-ban"></i> Cancel</button>
            </div>

        </div>
    </div>
</div>
<!--<div class="loader" ng-if="loader"></div>-->